@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto", sans-serif;
}

/* Background image */
#bg {
    object-fit: cover;
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
 }

/* Top of page - Navigation Bar and Logo */
header {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    margin-left: 20px;
    color: rgb(255,215,0);
}

#menu ul {
    display: flex;   
}

#menu li {
list-style-type: none;
margin-right: 20px;
}

#menu a {
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    padding: 5px;
    color: #fff;
}
#menu a:hover {
    border-color: white;
}

/* Headline section and background image */
#content { 
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#headline{
    color: #fff;
}

#headline a {
    color: rgb(255,215,0);
}

#headline h2 {
    font-size: 2.5rem;
}

#headline h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

/* Footer */

footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
}

.socials .social-icon {
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    margin: 0 20px;
}

/* About page */

#about-content { 
    position: absolute;
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about-section{
    color: #fff;
}

#about-section h2 {
    font-size: 2.5rem;
}

#about-section h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

#about-section a {
    color: rgb(255,215,0);
    text-decoration: none;
}

#principles {
    color: red;
}
/* Sign up form */

.form-section {
    clear: left;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color:rgb(255,215,0);
}

.radio-input {
    margin: 5px;
}

.sign-up-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(255,215,0);
    color: black;
    display: block;
}

.sign-up-button:hover {
    background-color: black;
    color:rgb(255,215,0);
    
}
